<div class="container-fluid" *ngIf="pokemonList">
    <div class="row">
        <app-search
        (onclickEventSearch)='applySearch($event)'
        (onclickEventClear)='clearSearch()'
        (onclickEventFilter)='applyfilter($event)'
        >
        </app-search>
    </div>
    <lib-pokemon-card
        [filterkey]='filterkey'
        [dataList]='pokemonList'
        addedToWishlist='#d3c9c9'
        (onclickEventredirect)='redirecttoDetailPage($event)'
        (onclickEventfirsticon)='addtoWishlist($event)'>
    </lib-pokemon-card>
</div>
<div class="row card shadow p-3 m-3" *ngIf="!pokemonList || pokemonList?.length == 0">
    <h2 class="m-0">Loading!!!</h2>
</div>